# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
tfplan
crash.log

# Secrets 
**/secret.yaml
**/secrets.yaml
!**/secret-template.yaml
!**/sealed-secret.yaml
*.pem
*.key

# SSH keys
*.rsa
*.rsa.pub

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.tar

# Temporary
/tmp/
*.bak
